/*IMPORTANT*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

* {
    font-family: "Poppins", 'sans-serif';
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    --primary: hsl(0, 88%, 44%);
    --primaryShade: hsl(0, 0%, 100%);
    --secondaryShade: hsl(200, 20%, 97%);
    --tertiaryShade: hsl(240, 18%, 20%);
    --quaternaryShade: hsl(230, 20%, 22%);
}

body::-webkit-scrollbar {
    width: 14px;
    background: #e3e9f0;
}

body::-webkit-scrollbar-thumb {
    background: #36394550;
    width: 100%;
}

body::-webkit-scrollbar-thumb:hover {
    background: #36394580;
}


/* Image Boxes */

.imageBox {
    width: 100vw;
    height: 100vh;
}

.cursorBox {
    opacity: 0;
    transition: all 0.3s;
}

.imageBox:hover .cursorBox {
    opacity: 1;
}

.imageBoxImages {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}


/*  */

.divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background: rgb(16, 26, 41);
    gap: 10px;
    text-align: center;
    overflow: hidden;
}

.heroDivider {
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../materials/images/globalizationHeroImage.jpg');
    background-size: cover;
    background-position: center;
}

.bigHeader {
    font-weight: bolder;
    color: white;
    font-size: 50px;
    margin: 0;
}

.mediumHeader {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin: 0;
}

.smallHeader {
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin: 0;
}

.text {
    color: white;
    font-weight: 500;
    font-size: 18px;
    max-width: 60%;
}